h1{
color: #209ED9;
font-size:22px;
font-family:serif;
}

h2{
	color:#46AF63;
	font-size:24px;
	font-family: monospace;
}

h3{
	color:#D10075; 
	font-size:26px;
	font-family: cursive;
}